@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0%;
  background-image: url(./Fondo\ estrellas\ desde\ cero\ finalU.jpg);
}

header {
  background-color: black;
  box-shadow: 1px 1px 10px 0px white;
  margin-bottom: 5px;
  max-height: 400px;
  max-width: 1400px;
  min-width: 80px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
  max-height: 150px;
  max-width: 350px;
  min-width: 40px;
  min-height: 20px;
}

#characters {
  display: grid;
  gap: 80px 115px;
  grid-auto-rows: 220px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  background-image: url(./Fondo\ estrellas\ desde\ cero\ finalU.jpg);
  background-repeat: repeat;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}


#imagemodal {
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 5px;
  box-shadow: 1px 1px 3px 1px white;
  border-radius: 3px;
}

article img {
  width: 160px;
  height: 160px;
  box-shadow: 1px 1px 8px 1px white;


}

#characters .pictures {

  border: 4px solid rgba(159, 255, 9, 1);
  padding: 0px;
  box-shadow: 1px 1px 8px 1px rgba(159, 255, 9, 1);
  background-color: #000;
  width: 160px;
  height: 245px;
  overflow-x: hidden;
  margin-bottom: 10px;
  white-space: nowrap;
  margin: auto;

}

h2 {
  color: white;
  font-size: 25px;
  padding-top: 4px;
  padding-bottom: 6px;
  margin: 0;
  margin-bottom: 3px;
  font-family: 'Patrick Hand', cursive;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}



.ButtonModal {
  background-color: rgb(110, 42, 165);
  border-radius: 5px;
  color: white;
  padding: 3px 5px;
  text-decoration: none;
  margin-top: 12px;
  font-family: 'Secular One', sans-serif;
  font-size: 13px;

}

.ButtonModal:hover {
  background:
    rgba(159, 255, 9, 1);
  color: rgb(0, 102, 88)
}

/************ MODAL ************/
/* The Modal (background) */

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
  overflow: hidden;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>section {
  max-height: 400px;
  max-width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px;
  border-radius: 10px;
  background: black;
  text-align: center;
  color: white;
  box-shadow: 1px 1px 15px 0px rgba(159, 255, 9, 1);
}

@media screen and (max-width: 800px) { 
  .modalDialog>section {
    width: 80%;
    height: 45%;
    margin: 50% auto;
    font-size: 1.5vh;
  }
}
p {
  margin: 0%;
  padding: 0%;
}
#parrafosmodal {
  margin: 0;
  padding: 0;
  font-family: 'Secular One', sans-serif;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 30px;
  padding: 3px;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
}

.close {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: rgba(7, 156, 147, 1);
  line-height: 25px;
  position: absolute;
  right: -8px;
  text-align: center;
  top: -6px;
  width: 28px;
  height: 25px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  padding-top: 2px;
}

.close:hover {
  background:
    rgba(159, 255, 9, 1);
  color: rgb(255, 0, 242)
}

nav {
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 1050px;
  min-height: 5vh;
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  gap: 10px;
  justify-content: space-evenly;
  text-align: center;
  background-image: url(./Fondo\ estrellas\ desde\ cero\ finalU.jpg);
  flex-wrap: wrap;

}

.buttons {
  width: 100%;
  height: 100%;
  background-color: black;
  border-color: white;
  color: white;
  border-radius: 7px;
  text-align: center;
  font-size: 15px;
  font-family: 'Secular One', sans-serif;
  padding: 3px;
  flex-basis: 250px;
  flex-grow: 1;
  max-width: 300px;


}

.buttons:hover {

  background: rgba(159, 255, 9, 1);
  color: rgb(255, 0, 242);

}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  box-shadow: 1px 1px 3px 0px white;
  margin-top: 40px;
}

footer p {

  padding-top: 10px;

  font-size: 30px;
  font-family: 'Patrick Hand', cursive;
}

#ButtonNext {
  background-color: black;
  border: solid 1px white;
  border-radius: 7px;
  text-align: center;
  font-size: 15px;
  font-family: 'Secular One', sans-serif;
  color: white;
  padding: 7px 10px;
  display: inline-block;
}

#ButtonNext:hover {

  background: rgba(159, 255, 9, 1);
  color: rgb(255, 0, 242);

}

#TitleGame {
  font-size: 30px;
  padding: 5px;
  margin: 0px;
  font-family: 'Patrick Hand', cursive;
  color: white;
  text-align: center;
  width: 100%;
}

#opc_img {
  background-color: black;
  border-color: white;
  text-align: center;
  font-family: 'Secular One', sans-serif;
  color: white;
  padding: 3px;
  

}

#opc_img:hover {
  background: rgba(159, 255, 9, 1);
  color: rgb(255, 0, 242);
}

#results {
  display: flex;
  color: white;
  text-align: center;
  margin: auto;
  padding: 30px;
  padding-top: 30px;
  background-color: #000;
  justify-content: center;
  border-radius: 15px;
}

#results > h6 {
  color: white;
  font-family: 'Secular One', sans-serif;
  font-size: 30px;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#clue > h5 {
  color:black;
  font-family: 'Secular One', sans-serif;
  font-size: 15px;
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#gamecontainer {
  padding: 0;
  width: 70%;
  border: 2px aliceblue;
  height: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #000;
  box-shadow: 1px 1px 8px 0px rgba(159, 255, 9, 1);
  border: 4px solid rgba(159, 255, 9, 1);
  border-radius: 15px;
}

#secondcontainergame {
  text-align: center;
  align-items: center;
  margin: 10px;

}

.figure {
  position: relative;
  cursor: pointer;
}

#secondcontainergame .figure #clue {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 95, 100, 0.76);
  transition: all 500ms ease-out;
  color: white;
  opacity: 0;
  visibility: hidden;
  text-align: center;

}

#secondcontainergame .figure:hover>#clue {
  opacity: 1;
  visibility: visible;
}